@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Signika:wght@300;400;500;600;700&display=swap');


h1 {
  font-size: 70px;
  color: #FFFFFF;
  font-family: 'Cardo' ;
}

h2 {
  color: #FFFFFF;
  font-family: 'Cardo';
  font-size: 150px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3 {
  color: #000000;
  font-family: 'Cardo';
  font-size: 80px;
  margin: 0px;
}

h4 {
  color: #FFFFFF;
  font-family: 'Cardo';
  font-size: 80px;
  margin: 0px;
}

p {
  color: #FFFFFF;
  font-family: 'Cardo';
  font-size: 20px;
}

h5 {
  color: #FFFFFF;
  font-family: 'Cardo';
  font-size: 35px;
  margin: 0px;
  margin-left: 20px;
}

h6 {
  color: #000000;
  font-family: 'Cardo';
  font-size: 25px;
  margin: 0px;
}


body {
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;

}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  height: 100px;
  padding-left: 35px;
  padding-right: 35px;
}

.header a {
  font-size: 70px;
  color: #FFFFFF;
  font-family: 'Cardo' ;
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
  padding-top: 0px;
  padding-right: 100px;
  padding-bottom: 0px;

  /* background-color: grey; */
}

.rankingList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 50px;
  margin-left: 70px;

  /* background-color: grey; */
}

.rank {
  display: flex;
  align-items: center;

}

.rankNumber {
  background-color: #000000;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin-bottom: 39px;
  margin-top: 0px;
  display: grid;
  justify-content: center;
}

.rankName {
  display: grid;
  /* justify-content: center; */
  align-items: center;
  margin-left: 40px;
  margin-bottom: 39px;
  margin-top: 0px;
  height: 70px;
  width: 375px;
  background-color: #000000;
  border-radius: 5px;

}

.list-dropdown {
  padding: 15px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Cardo';
  font-size: 30px;
  margin: 0px;
  outline-color: #000000;
  background-color: #000000;

}

.list-dropdown option {
  padding: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Cardo';
  font-size: 20px;
  margin: 0px;
  background-color: #000000;
}

.select {
  background-color: #FFFFFF;
  width: 250px;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: grid;
  border-radius: 7px;
  margin-top: 17px;
  margin-left: 140px;
}

.select a {
  font-size: 50px;
  color: #000000;
  font-family: 'Cardo';
  font-weight: bold;

}
